IMPORTACAO DAS LIBS QUE VAMOS USAR NO PROJETO

In [31]:
import duckdb
import pandas as pd
import os
from datetime import datetime

CIANDO UM BANCO LOCAL DO PROJETO E FAZENDO SUA CONEXAO

In [32]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

FAZENDO A LEITURA DOS ARQUIVOS csv 
Como tem dois arquivos, devemos desconmentar um por ver,
Exibi no final do que foi lido

In [33]:
#df = pd.read_csv('../landing/z0019_2.csv', sep=';')
#arquivo = 'z0019_1.csv'
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()

df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao

df.head()

   NATBR    MAKTX  WEKS  MAINS  LABST nome_arquivo              data_ingestao
0   1004    SERRA  BT10    100    200  z0019_2.csv 2025-09-10 10:03:16.743264
1   1005  MACHADO  BT10    100    100  z0019_2.csv 2025-09-10 10:03:16.743264
2   1003    PREGO  BT10    100     60  z0019_2.csv 2025-09-10 10:03:16.743264

CRIANDO A TABELA, SE ELA NAO EXISTIR

In [34]:
con.execute("""
CREATE TABLE IF NOT EXISTS bronze_produtos (
    NATBR VARCHAR,
    MAKTX VARCHAR,
    WEKS VARCHAR, 
    MAINS VARCHAR,        
    LABST INTEGER,
    nome_arquivo VARCHAR,
    data_ingestao TIMESTAMP
);
""")

REALIZANDO A INSERCAO DO DF NA TABELA QUE FOI CRIADA ACIMA

In [35]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

EXIBINDO TUSO O QUE FOI INSERIDO NA TABELA

In [ ]:
result = con.execute("SELECT * FROM bronze_produtos").fetchdf()
print(result)

  NATBR     MAKTX  WEKS MAINS  LABST nome_arquivo              data_ingestao
0  1001  PARAFUSO  BT10   100    100  z0019_1.csv 2025-09-10 10:03:04.652401
1  1002   MARTELO  BT50   100   1500  z0019_1.csv 2025-09-10 10:03:04.652401
2  1003     PREGO  BT10   100     50  z0019_1.csv 2025-09-10 10:03:04.652401
3  1004     SERRA  BT10   100    200  z0019_2.csv 2025-09-10 10:03:16.743264
4  1005   MACHADO  BT10   100    100  z0019_2.csv 2025-09-10 10:03:16.743264
5  1003     PREGO  BT10   100     60  z0019_2.csv 2025-09-10 10:03:16.743264

RENOMEANDO A TABELA PARA DEIXAR NO MESMO NOME QUE ELA VEM.

In [ ]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

EXIBINDO O CONTEUDO DA TABELA

In [38]:
result = con.execute("SELECT * FROM bronze_z0019").fetchdf()
print(result)

  NATBR     MAKTX  WEKS MAINS  LABST nome_arquivo              data_ingestao
0  1001  PARAFUSO  BT10   100    100  z0019_1.csv 2025-09-10 10:03:04.652401
1  1002   MARTELO  BT50   100   1500  z0019_1.csv 2025-09-10 10:03:04.652401
2  1003     PREGO  BT10   100     50  z0019_1.csv 2025-09-10 10:03:04.652401
3  1004     SERRA  BT10   100    200  z0019_2.csv 2025-09-10 10:03:16.743264
4  1005   MACHADO  BT10   100    100  z0019_2.csv 2025-09-10 10:03:16.743264
5  1003     PREGO  BT10   100     60  z0019_2.csv 2025-09-10 10:03:16.743264

FECHANDO A CONEXAO

In [39]:

con.close()